.intro__header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	color: #aab0b8;
	font-family: var(--font-mono);

	.intro__description {
		font-size: clamp(1rem, 1.5vw, 1.75rem);
		line-height: 1.6;
	}
}
