.intro__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	color: var(--color-text-primary);
	font-family: var(--font-mono);

	&__description {
		display: flex;
		align-items: center;

		font-size: clamp(0.5rem, 1.3vw, 1.75rem);
		line-height: 1.6;

		&__icon-web {
			width: 13%;
			margin-left: 0.5rem;
		}
	}
}
