.project-detail__not-found {
	min-height: 100vh;
	background-color: #1a1f25;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

	h1 {
		margin: 0;
		font-size: 16px;
		font-weight: 400;
		color: #9ba2b2;
		font-family: var(--font-default);
	}

	button {
		font-size: 14px;
		color: #63d2ab;
		background: none;
		border: none;
		cursor: pointer;
		font-family: var(--font-default);
	}
}
