.contact__section {
	background-color: #1a1f25;
	padding: 120px 144px;
	border-top: 1px solid rgba(255, 255, 255, 0.08);
}

@media only screen and (max-width: 1024px) {
	.contact__section {
		padding: 100px 80px;
	}
}

@media only screen and (max-width: 768px) {
	.contact__section {
		padding: 80px 20px;
	}
}
