.works__item {
	font-size: 1.2rem;
	padding: 1em;

	&__id {
		width: 100%;
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		border-bottom: 2px solid var(--color-text-primary);
	}

	&__link {
		display: flex;
		justify-content: start;
	}

	&__content {
		display: flex;
		width: 100%;
		padding-top: 0.5em;
		justify-content: space-between;

		&__image__container {
			position: relative;
			width: 10em;
			height: 0;
			padding-bottom: 10em;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.works__item {
		font-size: 0.5rem;
	}
}

@media only screen and (max-width: 768px) {
	.works__item {
		font-size: 0.9rem;
	}
}
